<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>rainyShiny.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>21A8FA051E5C4E8A00626DAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21A8FA191E5C4E8A00626DAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21A8FA241E5C4E8A00626DAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
